#!/usr/bin/env bash

export JAVA_HOME={{ java_home }}
export SCALA_HOME={{ scala_home }}

export SPARK_CLASSPATH=$SPARK_CLASSPATH:/opt/cloudera/parcels/HADOOP_LZO/lib/hadoop/lib/*
export SPARK_LIBRARY_PATH=$SPARK_LIBRARY_PATH:/opt/cloudera/parcels/HADOOP_LZO/lib/hadoop/lib/native

export SPARK_WORKER_CORES={{ spark_worker_cores }}
export SPARK_WORKER_MEMORY={{ spark_worker_memory }}

export SPARK_MASTER_IP={{ spark_master_ip }}

export HADOOP_CONF_DIR=/etc/hadoop/conf
