[program:zookeeper]
command = {{ java_home }}/bin/java -Dzookeeper.log.dir=. -Dzookeeper.root.logger=INFO,CONSOLE
 -cp "{{ zookeeper_classpath|join(':') }}"
 org.apache.zookeeper.server.quorum.QuorumPeerMain {{ zookeeper_home }}/conf/zoo.cfg
stdout_logfile = {{ zookeeper_data }}/zookeeper.log
redirect_stderr = true
