[program:zookeeper]
command={{ java_home }}/bin/java -server -Xmx2G
  -cp "{{ zookeeper_classpath|join(':') }}"
  org.apache.zookeeper.server.quorum.QuorumPeerMain {{ zookeeper_home }}/conf/zoo.cfg
autostart=true
autorestart=true
stdout_logfile={{ zookeeper_data }}/zookeeper.log
redirect_stderr=true
