[program:sharkserver2]
command={{ shark_home }}/bin/shark --service sharkserver2
user=hadoop
autostart=false
autorestart=true
stdout_logfile={{ shark_home }}/logs/sharkserver2.log
redirect_stderr=true
